<mat-toolbar color="accent">
    <span>pagina inicial</span>
    </mat-toolbar>

<mat-card class="first-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Leticia Ferreira De paula</mat-card-title>
        <mat-card-subtitle>agencia: 1234 conta: 12345-6</mat-card-subtitle>
        <mat-list-item></mat-list-item>
        <mat-divider></mat-divider>
        <mat-card-subtitle>ver detalhes da conta</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
  
 