<mat-card class="card-user">
  <mat-card-header>
    <mat-card-title>Olá, Leticia Ferreira!</mat-card-title>
    <mat-card-subtitle>AG **89  AC**89</mat-card-subtitle>
  </mat-card-header>
</mat-card>


<mat-card class="card-transfer">
  <mat-card-header>
    <mat-card-title>saldo em conta</mat-card-title>
    <mat-card-subtitle>2.500,00</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<div>
  <mat-card class="card-propagando">
    <mat-card-header> 
      <div class="propaganda">
       <span id="titulo-propaganda">CLICK CARD CRÉDITO</span>
       <p>Eai, deu match? Concorra a prêmios de até 10mil. <u id="pedido-cartao">Peça já seu cartão de crédito.</u></p>
      </div>
    <img src="../../../assets/cartao img.png" alt="cartao-de-credito" id="img-cartao">
    </mat-card-header>
    </mat-card>
</div>
