.card-user {
   font-size: large;
   display: flex;
   margin: 10px 12px 12px;
   box-shadow: 0.10px;
}

#img-avatar {
    border-radius: 75%;
    width: 100px;
    height: 80px;
    background-color: rgb(214, 94, 114);
}

.card-transfer {
background-color: rgb(228, 160, 182);
padding: 40px;
margin: 10px 12px 12px;
box-shadow: 0.10px rgb(221, 15, 84);
}

.card-propagando {
    margin: 10px 12px 12px;
    box-shadow: 0.10px;
    display: flex;
    justify-content: space-between;

}

#img-cartao {
    max-width:150px;
    max-height:100px;
    
}

#titulo-propaganda {
 color: rgb(226, 97, 204);
 font-size: 20px;
 font-weight: bold;
}

#pedido-cartao {
 text-decoration: underline;
 color: palevioletred;
}