<div>
  <mat-card class="card-user">
    <mat-card-header>
       <div>
        <h1>Olá, Leticia Ferreira!</h1>
        <p>AG **89  AC**89</p>
       </div>
       <div>
        <img src="../../../assets/avatar angular.png" alt="imagem-avatar-mulher" id="img-avatar">
       </div>
    </mat-card-header>
  </mat-card>
</div>



<mat-card class="card-transfer">
  <mat-card-header>
    <mat-card-title>saldo em conta</mat-card-title>
    <mat-card-subtitle>2.500,00</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<div>
  <mat-card class="card-propagando">
    <mat-card-header> 
      <div class="propaganda">
       <span id="titulo-propaganda">CLICK CARD CRÉDITO</span>
       <p>Eai, Deu match? Concorra a prêmios de até 10mil. <u id="pedido-cartao">Peça já seu cartão de crédito.</u></p>
      </div>
    <img src="../../../assets/cartao img.png" alt="cartao-de-credito" id="img-cartao">
    </mat-card-header>
    </mat-card>
</div>
